body {
  background-color: #6494b4;
}

.navbar {
  background-color: #6494b4 !important;
}

.nav-text {
  color: #ffffff !important;
}

#img1 {
  height: 50px;
  margin-right: 10px;
}

#img2 {
  height: 40px;
  margin-right: 10px;
}

#img3 {
  height: 30px;
  float: right;
}

i {
  cursor: pointer;
}

.btn-1 {
  background-color: #ffffff;
  color: #6494b4;
  border: 2px solid white;
}

.btn-1:hover {
  background-color: #6494b4;
  color: #ffffff;
  border: 2px solid white;
}

.c-text {
  color: #6494b4;
}

.c-text1 {
  color: #567c92;
}

.btn-2 {
  background-color: #ffff !important;
  color: #6494b4;
  border: 1px solid #6494b4;
}

.btn-2:hover {
  background-color: #6494b4 !important;
  color: #ffff;
  border: 2px solid #6494b4;
}

.btn-3 {
  background-color: #567c92 !important;
  color: #ffff;
  border: 2px solid #567c92;
}

.btn-3:hover {
  background-color: #ffff !important;
  color: #6494b4;
  border: 1px solid #6494b4;
}

.modal-body {
  background-color: #567c92 !important;
}

.formSU {
  float: right;
  margin-top: 50vh;
  align-items: center;
  height: 62vh;
  width: 20vw;
  padding: 20px;
  border: 2px solid #ffffff;
}

@media screen and (min-width: 300px) {
  .formSU {
    float: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
    align-items: center;
    height: 76vh;
    width: 92vw;
    padding: 20px;
    border: 2px solid #ffffff;
  }
}

@media screen and (min-width: 700px) {
  .formSU {
    height: 650px;
    width: 350px;
    float: none;
    margin: auto;
    margin-top: 6vh;
  }
}

@media screen and (min-width: 1050px) {
  .formSU {
    float: right;
    height: 650px;
    width: 350px;
    margin: auto;
    margin-top: 20vh;
  }
}

.formLI {
  float: right;
  margin-top: 50vh;
  align-items: center;
  height: 62vh;
  width: 20vw;
  padding: 20px;
  border: 2px solid #ffffff;
}

@media screen and (min-width: 300px) {
  .formLI {
    float: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
    align-items: center;
    height: 60vh;
    width: 92vw;
    padding: 20px;
    border: 2px solid #ffffff;
  }

  .formMargin {
    margin-top: 20px !important;
  }
}

@media screen and (min-width: 700px) {
  .formLI {
    height: 650px;
    width: 350px;
    float: none;
    margin: auto;
    margin-top: 6vh;
  }

  .formMargin {
    margin-top: 60px !important;
  }
}

@media screen and (min-width: 1050px) {
  .formLI {
     float: right;
    height: 600px;
    width: 350px;
    margin: auto;
    margin-top: 20vh;
  }

  .formMargin {
    margin-top: 60px !important;
  }
}
